:root{

}
body{
  margin:0;
}
a{
  text-decoration: none;
  color:pink;
}
.navbar{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #263343;
}

.navbar_logo{
  font-size: 24px;
  color:white;
}

.navbar_menu{
  display:flex;
  list-style:none;
  padding-left: 0;
}
.navbar_menu li{
  padding:8px 12px;
}
.navbar_menu li:hover{
  background-color:green;
  border-radius:4px;
}
.navbar_icons{
  list-style:none;
  color:black;
  display:flex;
}

.navbar_toogleBtn{
  display:none;
  position:absolute;
  right:32px;
  font-size:24px;
  color:white;
}

@media screen and (max-width:768px){
  .navbar{
    flex-direction:column;
    align-items:flex-start;
    padding: 8px 24px;
  }
  .navbar_menu{
    flex-direction:column;
    align-items:center;
    width:100%;
  }
  .navbar_menu li{
    width:100%;
    text-align:center;
  }
  .navbar_icons{
    list-style:none;
    color:white;
    display:flex;
    padding-left:0;
  }
  .navbar_toogleBtn{
    display:block;
  }
  .navbar_menu.active,
  .navbar_icons.active{
    display:flex;
  }
}
